/* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
picture,
svg,
video {
  display: block;
  max-width: 100%;
  width: auto;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}


li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}


/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-green-900);
    text-decoration: none;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

/*Minska bredd på innehållet*/
.wrapper {
  margin: 0 auto;
  width: 45%;
}

header {
  background-color: var(--clr-neutral-100);
}

h1 {
  color: var(--clr-green-400);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-500);
  text-transform: uppercase;
  line-height: 1rem;
}

/*Logga*/
header svg {
  stroke: var(--clr-green-400);
  height: 50px;
  width: 50px;
  padding-top: 0.5rem;
  margin-left: 1rem;
}

/*Meny*/
nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
}

nav ul li {
  padding: 1rem;
  color: var(--clr-green-400);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-500);
  text-transform: uppercase;
}

nav ul li:nth-child(4) {
  padding-left: 4rem;
}

nav ul li:nth-child(5) {
  padding-left: 4rem;
}

nav ul li:nth-child(6) {
  padding-left: 4rem;
}

/*Dölj hamburgermeny på desktop*/
nav ul li:nth-child(7) {
  display: none;
}

nav ul li a:hover {
  background-color: var(--clr-green-400);
  color: var(--clr-neutral-100);
  padding: 1rem;
}

/*Flyttar object i flex till höger*/
.push {
  margin-left: auto;
}

/*Text ovanför galleri*/
.container-top {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.container-top h2 {
  padding-bottom: 1rem;
  text-align: center;
}

.container-top p {
  text-align: center;
}

/*Galleri med bilder*/
.gallery-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 350px 350px;
  list-style: none;
  background-color: var(--clr-neutral-100);
  padding: 1rem;
  box-shadow: var(--border-shadow);
  margin-top: 2rem;
}

.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-images-col-span-2 {
  grid-column: span 2;
}

.gallery-images-row-span-2 {
  grid-row: span 2;
}




/* Block med nyhetsbrev*/
.divider {
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0;
  padding: 3rem;
}

.divider-content {
  text-align: left;
  max-width: 45ch;
  display: flex;
  flex-direction: column;
}

.divider-content h2 {
  margin-bottom: 1rem;
}

.icon {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: var(--clr-green-400);
  text-align: center;
  padding: 40px;
}

.margin-left {
  margin-left: 4rem;
}

.margin-right {
  margin-right: 4rem;
}

/*Knapp i nedre blocket*/
.button_more {
  align-self: flex-end;
  background-color: var(--clr-green-400);
  border: none;
  color: var(--clr-neutral-100);
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: var(--fs-400);
  border-radius: 15vh;
  font-weight: var(--fw-semi-bold);
  margin-top: 1.5rem;
  border: 1px solid var(--clr-green-400);
}

.button_more:hover {
  background-color: var(--clr-neutral-100);
  cursor: pointer;
  color: var(--clr-green-400);
  border: 1px solid var(--clr-green-400);
}

/*Nyhetsbrev - formulär*/
form {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 20px;
  margin-top: 1rem;
}

input {
  border: none;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem;
}

button {
  background: var(--clr-green-400);
  color: var(--clr-neutral-100);
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0 1rem 0 1rem;
  margin: 0.1rem;
  border: none;
  border: 1px solid var(--clr-green-400);
}

button:hover {
  background-color: var(--clr-neutral-100);
  cursor: pointer;
  border: 1px solid var(--clr-green-400);
  color: var(--clr-green-400);
}




/* Galleri med kort */
.gallery-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 45%;
  gap: 1rem;
}

.card {
  height: auto;
  background-color: var(--clr-neutral-100);
  padding: 1.2rem;
  box-shadow: var(--border-shadow);
  max-width: 35vh;
  list-style: none;
}

.card img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  padding-bottom: 1rem;
}

.card h3 {
  padding: 1.5rem 0;
}

.gallery-tag {
  border: none;
  color: var(--clr-neutral-100);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-200);
  border-radius: 15vh;
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);
  margin-top: 0.3rem;
}

.red {
  background-color: var(--clr-flower);
}

.khaki {
  background-color: var(--clr-edible);
}

.green {
  background-color: var(--clr-green);
}

.brown {
  background-color: var(--clr-sunloving);
}

.blue {
  background-color: var(--clr-easy);
}

.violet {
  background-color: var(--clr-decorative);
}

.purple {
  background-color: var(--clr-colorful);
}

.navy {
  background-color: var(--clr-robust);
}

.ocean {
  background-color: var(--clr-green-400);
}

.pink {
  background-color: var(--clr-fragrant);
}

.grey {
  background-color: var(--clr-fast);
}

.lake {
  background-color: var(--clr-air);
}

/*Nedre delen av kort med text och ikon*/
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

/*Försökte använda en wrapper för att få ner denna delen i botten men fick inte till det så gav upp*/
.author-wrapper {
  margin-top: 3rem;
}

.author img {
  width: 60px;
  height: auto;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 50vh;
  padding: 0;
  margin-right: 0.5rem;
}

.author p {
  line-height: 1rem;
  font-size: var(--fs-300);
}

.bold {
  font-weight: var(--fw-bold);
}





/*Footer*/
.wrapper-footer {
  margin: 0 auto;
  width: 45%;
  display: flex;
  flex-direction: row;
}

footer {
  background-color: var(--clr-green-400);
  padding-top: 2%;
  padding-bottom: 2%;
}

footer p {
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
  text-align: left;
  text-wrap: pretty;
  max-width: 55ch;
}

/*Logga i footer*/
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
}

footer h4 {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-500);
  text-transform: uppercase;
  line-height: 1rem;
  margin-top: 0.5rem;
}

footer svg {
  stroke: var(--clr-neutral-100);
  height: 50px;
  width: 50px;
  padding-right: 0.5rem;
}

/*Kontaktuppgifter i footer*/
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.contact img {
  width: 15px;
  height: auto;
  margin-right: 0.5rem;
  padding-top: 1rem;
}

.contact p {
  color: var(--clr-neutral-100);
  text-align: left;
  padding-top: 1rem;
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
}

.contact a:hover {
  color: var(--clr-neutral-100);
  text-decoration: underline;
  cursor: pointer;
}

/*Subnav i footer*/
footer .subnav {
  display: flex;
  flex-direction: column;
  list-style: none;
}

footer .subnav a {
  color: var(--clr-neutral-100);
  padding: 0;
  font-weight: var(--fw-600);
  font-size: var(--fs-400);
  line-height: 2rem;
}












/* Media queries for medium screens */
@media only screen and (max-width: 63.9375em) {

  /*MEDIUM SCREEN*/
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }

  nav ul li:nth-child(3) {
    display: none;
  }

  nav ul li:nth-child(4) {
    display: none;
  }

  nav ul li:nth-child(5) {
    display: none;
  }

  nav ul li:nth-child(6) {
    display: none;
  }

  /*Visa hamburgermeny på tablet*/
  nav ul li:nth-child(7) {
    display: inline-block;
  }

  .hamburger {
    margin-right: 1rem;
    padding: 1rem;
  }

  .hamburger div {
    width: 40px;
    height: 4px;
    background-color: var(--clr-green-400);
    margin: 8px 0;
    border-radius: 2px;
  }

  /*Osäker på hur jag ska lösa färgen på hover när mina streck också har bakgrundsfärg*/
  .hamburger:hover {
    background-color: var(--clr-green-400);
    cursor: pointer;
  }

  .hamburger div:nth-child(1) {
    margin: 0;
  }


  /*Galleri med bilder - tablet*/
  .container-top p {
    margin-bottom: 2rem;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    margin-inline: auto;
    align-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .gallery-images-col-span-2 {
    grid-column: span 1;
  }

  .gallery-images-row-span-2 {
    grid-row: span 1;
  }


  /*Nedre block med text och ikon - tablet*/
  .divider {
    background-color: var(--clr-neutral-100);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    padding: 3rem;
  }

  .divider h2 {
    margin-top: 2rem;
  }

  /*Bytt plats på ikon och text i nedre blocket - tablet*/
  .divider>.icon {
    order: 1;
  }

  .divider>.divider-content {
    order: 2;
  }

  .divider-content {
    margin: 0 auto;
  }

  .icon {
    margin: 0 auto;
  }



  /* Galleri med kort - tablet */
  .gallery-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    gap: 1rem;
  }

  .card {
    max-width: 100%;
    margin-left: none;
  }

  .wrapper-footer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  footer {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  footer p {
    font-size: var(--fs-500);
    max-width: 45ch;
    padding-top: 1rem;
  }

  footer svg {
    stroke: var(--clr-neutral-100);
    height: 50px;
    width: 50px;
    padding-right: 0.5rem;
  }

  .contact li {
    padding-top: 1rem;
    font-weight: var(--fw-700);
    font-size: var(--fs-500);
    text-transform: capitalize;
  }

  footer .subnav {
    display: none;
  }
}














/* Media queries for small screens */
@media only screen and (max-width: 39.9375em) {

  /*SMALL SCREEN*/
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }

  svg {
    padding-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  nav ul li:nth-child(3) {
    display: none;
  }

  nav ul li:nth-child(4) {
    display: none;
  }

  nav ul li:nth-child(5) {
    display: none;
  }

  nav ul li:nth-child(6) {
    display: none;
  }

  nav ul li:nth-child(7) {
    display: inline-block;
  }

  .hamburger {
    margin-right: 1rem;
    padding: 1rem;
  }

  .hamburger div {
    width: 40px;
    height: 4px;
    background-color: var(--clr-green-400);
    margin: 8px 0;
    border-radius: 2px;
  }

  /*Osäker på hur jag ska lösa färgen på hover när mina streck också har bakgrundsfärg*/
  .hamburger:hover {
    background-color: var(--clr-green-400);
    cursor: pointer;
  }

  .hamburger div:nth-child(1) {
    margin: 0;
  }

  .container-top {
    text-align: center;
    max-width: 40ch;
    margin: 0 auto;
  }

  .container-top p {
    margin-bottom: 2rem;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px;
    align-content: center;
    width: 100%;
    margin-bottom: 1rem;
    margin: 0 auto;
  }

  .gallery-images-col-span-2 {
    grid-column: span 1;
  }

  .gallery-images-row-span-2 {
    grid-row: span 1;
  }

  /*Nedre block med text och ikon - mobil*/
  .divider {
    background-color: var(--clr-neutral-100);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    padding: 3rem;
  }

  .divider h2 {
    margin-top: 2rem;
  }

  .divider>.icon {
    order: 1;
  }

  .divider>.divider-content {
    order: 2;
  }

  .divider-content {
    text-align: center;
    max-width: 45ch;
  }

  .icon {
    margin: 0 auto;
  }



  /* Galleri med kort - mobil */
  .gallery-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding-top: 5%;
    width: 90%;
  }

  .card {
    margin-bottom: 1.5rem;
    max-width: 100%;
  }



  /* Footer - mobil */
  .wrapper-footer {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  footer p {
    font-size: var(--fs-500);
    max-width: 45ch;
    padding-top: 2%;
  }

  footer svg {
    padding-top: 1%;
    height: 50px;
    width: 50px;
    padding-right: 0.5rem;
  }

  footer .subnav {
    display: none;
  }
}